<header>
    <nav>
        <ul>
            <li><a href="/prueba">Ruta uno</a></li>
            <li><a href="/contacto">Ruta dos</a></li>
            <li><a href="/nosotros">Ruta tres</a></li>
        </ul>
    </nav>
</header>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
