<header>
    <nav>
        <ul>
            <li><a href="/prueba">Ruta uno</a></li>
            <li><a href="/contacto">Ruta dos</a></li>
            <li><a href="/nosotros">Ruta tres</a></li>
        </ul>
    </nav>
</header>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras hendrerit pellentesque volutpat. Mauris pretium
    tincidunt neque. Quisque ex nisi, placerat sit amet accumsan eget, porttitor a libero. Nam dignissim ac nunc laoreet
    dignissim. Etiam ornare tempus dolor et sodales. In in finibus nibh. Sed non turpis tellus. Vivamus ultrices
    vulputate dictum. Fusce nec semper velit. Suspendisse dignissim nulla in lacinia vulputate. Vestibulum condimentum
    arcu id porta ultrices. Sed faucibus orci vitae tellus aliquet dictum. Sed pharetra justo vitae eleifend euismod.
    Donec eget erat sed nisl lacinia lobortis.</p>